<div>
    <app-header></app-header>
    <div class="d-flex justify-content-center align-items-center py-3 header-below-text-bg" >
        <div class="header-below-text">Invite friends to Big Fashion Festival & get up to $150 MynCash for every person who visits</div>
    </div>
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-white ">
          <li class="breadcrumb-item breadcrum-text" aria-current="page">Home</li>
          <li class="breadcrumb-item breadcrum-text" aria-current="page">Home</li>
          <li class="breadcrumb-item breadcrum-text" aria-current="page">Home</li>
          <li class="breadcrumb-item breadcrum-text breadcrum-text-active" aria-current="page">Home</li>
        </ol>
      </nav>
</div>