<div class="d-flex justify-content-center flex-column  align-items-center py-3 header-below-text-bg" >
    <div class="header-below-text pl-4 pr-1 my-1">Invite friends to Big Fashion Festival & get up to $150 MynCash for every person who visits</div>
    <div class="btn btn-light rounded-pill">Invite Now</div>
</div>
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb bg-white ">
      <li class="breadcrumb-item breadcrum-text" *ngFor="let item of breadCrumItems" aria-current="page" [ngClass]="breadCrumItems[breadCrumItems.length-1]==item?'breadcrum-text-active':''">{{item | titlecase}}</li>
    </ol>
  </nav>